@import "../../public/fonts/font.css";

:root {
  --primary-color: #011627;
  --orange-color: #fea55f;
  --secondary-color: #fdc100;
  --text-color: #607b96;
  --green-color: #43d9ad;
  --blue-color: #4d5bce;
  --red-color: #e99287;
  --border-color: #1e2d3d;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  /* list-style: none; */
  margin: 0;
  padding: 0;
}

header {
  height: 3.5rem !important;
}

.MuiDivider-root {
  background-color: #1e2d3d;
  height: 1px;
}

.container {
  padding: 0 1.375rem;
  width: 100%;
  max-width: 100%;
} /*# sourceMappingURL=globals.css.map */

ul {
  list-style-position: outside !important;
}
