@import "unit";
@import "../../public/fonts/font.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #011627;
  --orange-color: #fea55f;
  --secondary-color: #fdc100;
  --text-color: #607b96;
  --green-color: #43d9ad;
  --blue-color: #4d5bce;
  --red-color: #e99287;
  --border-color: #1e2d3d;
  --border-line: 1px solid red;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #010c15;
  padding: rem(30) rem(20);
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (max-width: 768px) {
  html {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  // list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: rem(56) !important;
}

.MuiDivider-root {
  background-color: #1e2d3d;
  // opacity: 0.08;
  height: 1px;
}

.container {
  padding: 0 rem(22);
  width: 100%;
  max-width: 100%;
}

.slick-list {
  height: rem(333) !important;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}

.MuiTabs-indicator {
  display: none;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}
.MuiPaper-root-MuiAccordion-root:first-of-type {
  margin: 0 !important;
}
.MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
.MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
#tabs {
  .Mui-selected {
    h5 {
      color: #fff;
      transition: all 0.25s ease-in;
    }
    .folderArrow {
      transform: rotate(90deg);
      transition: all 0.25s ease-in;
    }
  }
}

#game .MuiDivider-root {
  background-color: var(--orange-color) !important;
  // opacity: 0.08;
  height: rem(50);
  width: 1px;
}

#__next {
  width: 100%;
}

#customCheckbox {
  svg {
    fill: #fff;
  }
}
