@import "styles/_unit.scss";

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(22);
  .leftBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .iconBox {
      height: 100%;
      padding: rem(17);
      cursor: pointer;
      border-right: 1px solid var(--border-color);
      svg {
        transition: fill 0.1s ease-in;
        &:hover {
          fill: #fff;
          transition: fill 0.1s ease-in;
        }
      }
    }
  }
  .rightBoxWrapper {
    display: flex;
    align-items: center;

    .rightBox {
      display: flex;
      column-gap: rem(4);
      align-items: center;
      justify-content: center;
      padding: rem(14);
      border-left: 1px solid var(--border-color);
      svg {
        &:hover {
          fill: #fff;
        }
      }
      a {
        text-decoration: wavy underline;
        text-decoration-color: var(--border-color);
        text-decoration-thickness: 2px;
        h5 {
          transition: color 0.2s ease-in;
          &:hover {
            color: #fff !important;
            transition: color 0.2s ease-in;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
