@import "styles/unit.scss";

.root {
  // width: rem(315);
  // border-right: 1px solid #1E2D3D;
  // width: 100%;
  height: 100%;
  .sidebar {
    // width: rem(68);
    width: rem(315);
    border-right: 1px solid #1e2d3d;
    display: flex;
    height: 100%;
    .iconBox {
      border-right: 1px solid #1e2d3d;
      padding: rem(24);
      display: flex;
      flex-direction: column;
      row-gap: rem(34);
      align-items: center;
    }
    .hierarchy {
      width: rem(243);
      .title {
        width: 100%;
        border-right: var(--border-line);
      }
    }
  }
}

.accordion {
  width: 100%;
}

.tabs {
  padding: 0 rem(20) rem(20);
}

.tabContainer {
  padding: rem(18) rem(32);

  .commentBox {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
    .comment {
      display: flex;
      column-gap: rem(40);
      // h5 {
      //     &:first-child {
      //          width: calc(16% - 4em);
      //          text-align: right;
      //     }
      // }
    }
  }
}
